.container {
    background-color: rgb(53, 109, 230);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
    body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px auto;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

.image {
    border-radius: 50px;
}

.head {
    font-size: 30px;
    color: white;
    margin-bottom: -10px;
}

p {
    color: white;
    font-size: 23px;
}

#name {
    margin-top: 10px;
    font-size: 20px;
}

#p-1 {
    margin-top: -15px;
}

#link-1 {
    color: rgb(219, 218, 218);
    text-decoration: none;
    font-size: 15px;
}

h2 {
    text-align: center;
    color: white;
    background-color: white;
    width: 120px;
    padding: 15px 20px;
    border-radius: 30px;
}

#link-2 {
    text-decoration: none;
    color: rgb(53, 109, 230);
}